<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coverage Reports</title>
	<style>
		body div {
			width: 400px;
			padding: 30px;
			margin: 0px auto;
		}
	</style>
</head>
<body>
	<div><ul>
<%_ folders.forEach(function(folder){ -%>
	<%_ if (hasReport) { -%>
		<li><a href="<%= folder.name %>/lcov-report/index.html"><%= folder.name %></a></li>
	<%_ } else { -%>
		<li><a href="<%= folder.name %>/index.html"><%= folder.name %></a></li>
	<%_ } -%>
<%_ }); -%>
	</ul></div>
</body>
</html>
